fastapi
uvicorn
sqlmodel
alembic
python-multipart
chess
tesserocr
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
PyMuPDF
pillow
pytesseract
torch
torchvision
transformers
protobuf
numpy
opencv-python-headless
